.button {
  background-color: rgb(146, 192, 90);
  color: rgb(250, 248, 248);
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 17px;
  transition: background-color 0.3s ease;
  border: none;
}
.button:hover {
  background-color: rgb(71, 98, 73);
}
